#bc-dice-control {
  width: 36px;
  height: 36px;
  box-sizing: content-box;
  font-size: 24px;
  line-height: 36px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #000;
  margin: 0 0 8px;
  color: #bbb;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

#bc-form .bcdice-tabs {
  gap: 0.5rem;
  border-bottom: black 1px solid;
  padding-left: 4px;
  padding-right: 4px;
}

#bc-form button.bcd-macro-button {
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  margin: 2px 0;
}

#bc-form .bcdice-macro-page {
  display: flex;
  gap: 0.5rem;
  max-height: 400px;
  overflow-y: scroll;
}

.window-content .dialog-content textarea{min-height:145px}